@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'ui-datepicker.scss';
@import 'ts-table.scss';
@import 'ts-grid.scss';
@import 'ts-card.scss';
@import 'ts-header.scss';
@import 'ts-media.scss';
@import 'ts-dropdown.scss';
@import 'ts-indents.scss';
@import 'ts-flex.scss';
@import 'ts-inputs.scss';
@import 'ts-tabs.scss';
@import 'ts-border.scss';
@import 'ts-width.scss';
@import 'ts-fonts.scss';
$breackpoints: ('':0,xs:320px,sm:568px, md:768px,lg:992px,xl:1200px,xxl:1440px);
$size: (2100px,1440px, 1280px, 1024px, 768px, 568px);
$nameCol: ('xxl','xl','lg','md','sm','xs');
$bodyF: 16px,14px,13px,13px,12px,12px;
$inputF: 14px,14px, 14px, 13px, 12px, 12px;
$placeHolder: 10px,10px, 10px, 10px, 10px, 10px;
$textSize: 13px,13px, 13px, 12px, 10px, 10px;
$labelF: 15px,15px, 15px, 15px, 12px, 12px;
$minWidth: 260px;
$gridCol: 15;

@include create-mq-indents($breackpoints);
@include create-mq-flex($breackpoints);
@include create-mq-display($breackpoints);
@include create-border();
@include create-width();
@include create-mq-fontsize($breackpoints);



@mixin media-font($breackpoint,$val){
    @for $i from 1 to length($breackpoint)+1{
        @media (max-width: nth($breackpoint,$i)){
            padding: 0;
            margin: 0;
            font-size:nth($val, $i);
        }
    
    } 
  
}






.ts-box-shadow{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.01), 0 2px 1px -1px rgba(0,0,0,0.03), 0 1px 3px 0 rgba(0,0,0,0.05);
}
.ts-border-radius{
    border-radius: 2px;
    overflow: hidden;
}
.ts-hidden{
    opacity: 0;
    z-index: -1;
}
.ts-theme{
    .ts-width-100{
        width: 100%;
    }
        ul,li{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        font-family: 'Open Sans', sans-serif;
        @include media-font($size,$bodyF );
        .ts-title{
            background: #55C4C6;
        }
        .ts-text{
            p{
                font-size: 14px;
                color: gray;
                padding: 0;
                margin: 0;
                @include media-font($size,$textSize);
            }
        }
      
        .placeholder{
            position: absolute;
            bottom: 2px;
            font-size:16px;
            padding-left:15px; 
            transition:all .3s;
            @include media-font($size,$inputF);

            
        }
        .validation{
            display: none;
            position: absolute;
            bottom: -15px;
            font-size: 11px;
            margin-left: 15px;
            color: red;
            @include media-font($size,$placeHolder);
        }

        .ts-button{
            padding: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .active{
            .placeholder{
               font-size: 11px;
               bottom:auto;
               bottom:25px;
               padding-left: 7px;
               line-height: 10px;
               @include media-font($size,$placeHolder);
            }
            .input{
                opacity: 1 !important;
                transition: opacity 0.3s;
                
            }
        }
        .error{
            border-color: red !important;
            .input{
                input{
                    color: red;
                }
            }
            .placeholder{
                color: red;
            }
            .validation{
                display: block;
            }
        }
        
       
        .ts-input{
            height: 40px;
            position: relative;
            width: 100%;
            border-bottom: 1px solid #ccc;
            background: rgba(85, 196, 198, 0.11);
            margin: 0 auto;
            transition: all 0.3s;
            
            &.focus{
                transition: all 0.3s;
                border-bottom: 1px solid #55C4C6;
                box-shadow: 0 1px 0 0 #56c3c7;
            }
        
            .input{
                width: 100%;
                height: 100%;
                opacity: 0;
                
                input{
                    
                    padding: 0;
                    margin: 0;
                    outline: none;
                    background: transparent;
                    outline: 0;
                    border: 0;
                    position: absolute;
                    bottom: 2px;
                    font-size: 16px;
                    height: auto;
                    padding-left: 15px;
                    line-height: 16px;
                    width: calc(100% - 15px);
                    @include media-font($size,$inputF);
                }
                
            }
        }
        .ts-checkbox{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 0 auto;
            i.icon{
                border:2px solid gray;
                width: 14px;
                height: 14px;
                background: transparent;
                position: relative;
                
                &::before{
                    content:'';
                    font-family: FontAwesome;
                    display: block;
                    position: absolute;
                    top:0px;
                    left: 0px;
                    font-size: 12px;
                }
                &.active{
                    &::before{
                        content: '\F00C';
                        font-family: "FontAwesome";
                        color: #36797b;
                    }
                }
            }
            label{
                font-size: 14px;
                color: gray;
                margin-left: 10px;
                font-weight: 300;
                line-height: 14px;
                @include media-font($size,$labelF);
            }
            
        }
        .ts-submit{
            height: 50px;
            background: #55C4C6;
            position: relative;
            width: 100%;
            margin:0 auto;
            transition: all 0.3s;
            &:hover{
                background: #49a7a8;
            }
            input[type='submit']{
                height: 100%;
                border: none;
                outline: none;
                background: transparent;
                color: white;
                font-size: 21px;
                text-align: center;
                width: 100%;
                text-transform: uppercase;
            }

            
        }
        .ts-select{
            position: relative;
        }
        .ts-link{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                font-size: 15px;
                color: gray;
                margin-bottom:5px;
                transition: all 0.3s;
                &:last-child{
                    margin-bottom: 0;
                }
                @include media-font($size,$labelF);
                &:hover{
                    color: #56c3c7;
                }
            }
            
        }
    
    :focus {
        outline: none;
    }
    
    :disabled {
        background-color: transparent;
    }
    
    /**
     * Multiple Select2
     */
    
    
    
}



.ts-datepicker{}




input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #ecf9f9 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px #ecf9f9 inset;
    -webkit-text-fill-color: #333;
}
.bx-authform{
    max-width: 100% !important;
    margin: 0   !important;
}
.ts-border__light-gray{
  border: 1px solid lightgrey;
}

.ts-popup{
  
    background: black;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;

  &__booking-page{
    height: 80%;
    width: 80%;
    background: white;
  }
  .mfp-close{
    background: #49a7a8;
    border:none;
    outline: none;
    color: white;
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

