@import 'var.scss';
.ts-theme{
    .ts-dropdown{
        //padding-left: 0 !important;
        &__links{
            &.active{
                opacity: 1;
                z-index: 1;
                height: 100%;
                transition: all 0.3s;
            }
            position: absolute;
            margin: 0;
            height: 0;
            opacity: 0;
            z-index: -1;
            transition: all 0.3s;
           
        }
        @media screen and (max-width: #{$grid__bp-lg}px) {
            //padding-left: 0 !important;
            &__links{
                position: static;
                opacity: 0;
                height: 0;
                z-index: 1;
                padding: 0 0 0 1rem;
            
            }
        
        } 
    } 
}