$flexOption:(
    justify-content:(center,space-between,flex-end,flex-start,space-around),
    align-items:(center,flex-start,flex-end,stretch),
    flex-wrap:(wrap,wrap-reverse,nowrap),
    flex-direction:(column,row),
    order:(0,1,2,3,4,5,6,7,8,9,10)
);
@mixin create-mq-flex($breackpoint){
    @each $key,$val in $breackpoint{
        @if($key == ''){
            @each $keyOption, $valOption in $flexOption{
                        @for $y from 1 through length($valOption){
                            .ts-#{$keyOption}__#{nth($valOption,$y)}{
                             #{$keyOption}:#{nth($valOption,$y)};
                            }    
                        }
                    
                }
               
            }
        @else{
            @media screen and (min-width: $val) {
                @each $keyOption, $valOption in $flexOption{
                    @for $y from 1 through length($valOption){
                        .ts-#{$keyOption}-#{$key}__#{nth($valOption,$y)}{
                         #{$keyOption}:#{nth($valOption,$y)};
                        }    
                    }
                
            }
            }    
        }
            
        }
        
}

